<div class="container">
  <div>
    <div class="text-center" id="userPanel" *ngIf="showWelcome">
      <img [src]="userData!.picture" id="avatarImage">
      <h5 id="welcomeText">Welcome {{userData!.name}}</h5>
    </div>
  </div>
  <div>
    <div *ngIf="isLoading; else stats">
      <h1 class="text-center" id="loadingText">{{loadingText}}</h1>
      <p class="text-center">
        <img id="loadingImage" class="imageResponsive" [src]="loadingGif">
      </p>
    </div>
    <ng-template #stats>
      <animestat-statuschart [data]="statsData"></animestat-statuschart>
    </ng-template>
  </div>
</div>
