<div>
  <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">AnimeStats for MAL by CodingJosh (Beta) </span>
  </nav>
</div>
<router-outlet></router-outlet>
<hr>
<footer class="footer-padding">
  <small>Copyright &copy; {{ getCopyrightYear() }} CodingJosh &mdash; <a href="https://myanimelist.net/profile/CodingJosh" target="_blank">MAL Profile</a></small>
  <br/>
  <small>This website is not affiliated or endorsed by MyAnimeList or any anime studio/producer.</small>
  <br/>
  <small>All anime GIFs and images are copyrights of their respective owner(s).</small>
</footer>